@model GetCategoryByIdDto
@{
	ViewData["Title"] = "UpdateList";
	Layout = "~/Views/Admin/Index.cshtml";
}

<h3>Update Category</h3>
<form method="post">
	<input type="hidden" asp-for="CategoryId" />
	<input type="text" asp-for="CategoryName" placeholder="Kategori Adını Giriniz" class="form-control" />
	<br />
	<input type="text" asp-for="Description" placeholder="Kategori Açıklaması Giriniz" class="form-control" />
	<br />
	<input type="text" asp-for="IconUrl" placeholder="Kategori IconUrl Giriniz" class="form-control" />
	<br />
	<button class="btn btn-primary">Kategoriyi Güncelle</button>
</form>
