@{
	Layout = null;
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spike Free Bootstrap Admin Template by WrapPixel</title>
	<link rel="shortcut icon" type="image/png" href="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/favicon.png" />
	<link rel="stylesheet" href="~/Spike-Bootstrap-1.0.0/src/assets/css/styles.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
	<!--  Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		 data-sidebar-position="fixed" data-header-position="fixed">

		<!--  App Topstrip -->
		<!-- Sidebar Start -->
		<aside class="left-sidebar">
			<!-- Sidebar scroll-->
			<div>
				<div class="brand-logo d-flex align-items-center justify-content-between">
					<a href="./index.html" class="text-nowrap logo-img">
						<img src="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/logo.svg" alt="" />
					</a>
					<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
						<i class="ti ti-x fs-8"></i>
					</div>
				</div>
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav scroll-sidebar p-0" data-simplebar="">
					<ul id="sidebarnav">

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/Dashboard/AdminDashboard/" aria-expanded="false">
								<iconify-icon icon="solar:notes-broken" width="24" height="24"></iconify-icon>
								<span class="hide-menu">Dashboard</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/Category/CategoryList" aria-expanded="false">
								<iconify-icon icon="material-symbols:list-alt-outline" width="24" height="24"></iconify-icon>
								<span class="hide-menu">Category</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/Destination/DestinationList" aria-expanded="false">
								<iconify-icon icon="solar:gallery-edit-line-duotone" width="24" height="24"></iconify-icon>
								<span class="hide-menu">Destination</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/Booking/BookingList" aria-expanded="false">
								<iconify-icon icon="solar:letter-linear" width="24" height="24"></iconify-icon>
								<span class="hide-menu">Booking</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/Feature/FeatureList" aria-expanded="false">
								<iconify-icon icon="solar:layers-minimalistic-outline" width="24" height="24"></iconify-icon>
								<span class="hide-menu">Feature</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/Testimonial/TestimonialList" aria-expanded="false">
								<iconify-icon icon="solar:chat-square-check-line-duotone" width="24" height="24"></iconify-icon>
								<span class="hide-menu">Testimonial</span>
							</a>
						</li>

						<li class="sidebar-item">
							<a class="sidebar-link primary-hover-bg" href="/TripPlan/TripPlanList" aria-expanded="false">
								<iconify-icon icon="solar:history-3-linear" width="24" height="24"></iconify-icon>
								<span class="hide-menu">TripPlan</span>
							</a>
						</li>

					</ul>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!--  Sidebar End -->
		<!--  Main wrapper -->
		<div class="body-wrapper">

			<div class="body-wrapper-inner">
				<div class="container-fluid">

					@RenderBody()

				</div>
			</div>
		</div>
	</div>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/js/sidebarmenu.js"></script>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/js/app.min.js"></script>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
	<script src="~/Spike-Bootstrap-1.0.0/src/assets/js/dashboard.js"></script>
	<!-- solar icons -->
	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>