@model GetDestinationByIdDto
@{
	ViewData["Title"] = "UpdateDestination";
	Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Update Destination</h3>
<form method="post">
	<input type="hidden" asp-for="DestinationId" />

	<input type="text" asp-for="CityCountry" placeholder="Şehir ve Ülke Giriniz" class="form-control" />
	<br />
	<input type="text" asp-for="ImageUrl" placeholder="Fotograf Yolu Giriniz" class="form-control" />
	<br />
	<input type="text" asp-for="Price" placeholder="Fiyat Giriniz" class="form-control" />
	<br />
	<input type="text" asp-for="DayNight" placeholder="Gün-Gece Sayısı" class="form-control" />
	<br />
	<input type="text" asp-for="Capacity" placeholder="Kapasite Giriniz" class="form-control" />
	<br />
	<textarea asp-for="Description" placeholder="Tur Açıklaması Giriniz" rows="5" class="form-control"></textarea>
	<br />
	<button class="btn btn-success">Turu Güncelle</button>
</form>
