@model List<ResultDestinationDto>

@foreach (var item in Model)
{
	<div class="col-sm-6 col-xl-3">
		<div class="card overflow-hidden">
			<div class="position-relative">
				<a href="javascript:void(0)">
					<img src="@item.ImageUrl" class="card-img-top rounded-0" alt="..." style="width:230px; height:160px" />
				</a>
				<a href="javascript:void(0)"
				   class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"
				   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart">
					<i class="ti ti-basket"></i>
				</a>
			</div>
			<div class="card-body pt-3 p-4">
				<h6 class="fw-semibold ">@item.CityCountry</h6>
				<div class="d-flex align-items-center justify-content-between">
					<h6 class="fw-semibold mb-0">
						@item.Price ₺ <span class="ms-2 fw-normal text-muted "></span>
					</h6>
					<ul class="list-unstyled d-flex align-items-center mb-0">
						<li>
							<a class="me-1" href="javascript:void(0)"><i class="ti ti-star-filled text-warning"></i></a>
						</li>
						<li>
							<a class="me-1" href="javascript:void(0)"><i class="ti ti-star-filled text-warning"></i></a>
						</li>
						<li>
							<a class="me-1" href="javascript:void(0)"><i class="ti ti-star-filled text-warning"></i></a>
						</li>
						<li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
						<li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
}