<section id="booking">

	<div class="container">
		<div class="row align-items-center">

			@await Component.InvokeAsync("_DefaultBookingDetailComponentPartial")

			@await Component.InvokeAsync("_DefaultBookingFormComponentPartial")
		
		</div>
	</div><!-- end of .container-->

</section>